@import "bourbon/bourbon";
@import "neat/neat";
@import "reset";
@import "variables";
@import "mixins";

body {
  margin: 0;
}

header {
  img {
    width: 50%;
    margin: 1.25em 25%;
    display: block;
    vertical-align: middle;

    @include responsive(medium-screens) {
      float: left;
      margin: 20px;
      width: 20%;
    }
  }

  h1 {
    @include font(bold, 2.3em, 'Open Sans');
    color: $main-color;
    text-align: center;
    margin: 0 10% .25em;
  }

  h2 {
    @include font(normal, 1.2em, $type);
    color: $accent-color;
    text-align: center;
    margin: 0 10% 1em;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
}

.about {
  width: 80%;
  margin: 0 10%;

  p {
    @include font(normal, .9em, $type);
    color: $accent-color;
  }
}