@import "bourbon/bourbon";
@import "neat/neat";
@import "reset";
@import "variables";
@import "mixins";

body {
  margin: 0;
}

header {
  @include responsive(medium-screens) {
      margin-top: 50px;
    }
  @include responsive(wide-screens) {
      margin-top: 100px;
    }

  img {
    width: 50%;
    margin: 1.25em 25%;
    display: block;
    vertical-align: middle;

    @include responsive(medium-screens) {
      margin: 0 37.5% 1.75em;
      width: 25%;
    }

    @include responsive(wide-screens) {
      float: left;
      margin: 0 30px 0 10%;
      width: 25%;
    }
  }

  h1 {
    @include font(bold, 2.3em, $type);
    color: #333;
    text-align: center;
    margin: 0 10% .25em;

    @include responsive(wide-screens) {
      text-align: left;
    }
  }

  h2 {
    @include font(normal, 1.2em, $type);
    color: $accent-color;
    text-align: center;
    margin: 0 10% 1em;
    letter-spacing: 10px;

    @include responsive(wide-screens) {
      text-align: left;
    }
  }
}

.about {
  width: 80%;
  margin: 0 10% 1.5em;


  p {
    @include font(normal, .9em, $type);
    color: $accent-color;
    margin-bottom: 1em;

    & a {
      color: $main-color;
      text-decoration: none;
    }
  }
}